* {
  margin: 0;/*это свойство можно удалить, если вы используете reset, normalize или нечто подобное*/
}
html,
body { 
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
   padding: 10px; /* Поля вокруг текста */
   margin: auto; /* Выравниваем по центру */
}
footer {
  flex: 0 0 auto;
} 
h2 {
  padding-top: 25px;
  padding-bottom: 20px;
  text-align: center;
  font-family: 'Lobster', sans-serif;
  text-shadow: 5px 5px 20px #000000;
  letter-spacing: 8px;
}
p{
  text-align:center;
  line-height: 28px;
}
.thumb img  {
   margin-right: 25px; /* Отступ справа */
   margin-left: 25px; 
   margin-bottom: 10px; /* Отступ снизу */
   border-radius: 20px;
   border: 5px #ccc solid;
   box-shadow: 0 0 10px #444;
  }
.border {
   width: 300px;
   margin: 0 auto;
   background: white;
   padding: 20px;
   border: 1px solid #F1E7E8;
   border-bottom: 8px solid #582ad7;
   border-top: 8px solid #582ad7;
   border-left: 8px solid #582ad7;
   border-right: 8px solid #582ad7;
}
.wrap {
   height: 100%;
   position: relative;
}
.product-wrap {
   position: relative;
}
.product-wrap:after {
   content: '';
   background: rgba(73, 102, 162, .5);
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   opacity: 0;
   transform: scale(.3);
   transition: .3s ease-in-out;
}
.border:hover .product-wrap:after {
   opacity: 1;
   transform: scale(1);
}
.product-wrap a {
   display: block;
   text-decoration: none;
}
.product-wrap img {
   display: block;
   width: 100%;
}
.product-info {
   padding-top: 15px;
}
.stars {
   font-size: 14px;
   font-family: FontAwesome;
}
.stars:before {
   content: "\f005\f005\f005\f005\f123";
   color: #F2453E;
}
.product-title {
   font-weight: normal;
   font-family: "Open Sans";
   color: #162546;
   font-size: 18px;
}
.price {
   font-family: "Open Sans";
   color: #162546;
   font-style: italic;
   font-weight: bold;
}
