* {
  margin: 0;/*это свойство можно удалить, если вы используете reset, normalize или нечто подобное*/
}
html,
body { 
  height: 100%;
}
body {
  background: #1b1a1f;
  no-repeat fixed;
  -webkit-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.content {
   padding: 10px; /* Поля вокруг текста */
   margin: auto; /* Выравниваем по центру */
}
footer {
  flex: 0 0 auto;
} 
h2 {
  padding-top: 25px;
  padding-bottom: 20px;
  font-family: 'Lobster', sans-serif;
  text-shadow: 5px 5px 20px #000000;
  letter-spacing: 8px;
}
p{
  text-align:center;
  line-height: 28px;
}
.thumb img  {
   margin-right: 25px; /* Отступ справа */
   margin-left: 25px; 
   margin-bottom: 10px; /* Отступ снизу */
   border-radius: 20px;
   border: 5px #ccc solid;
   box-shadow: 0 0 10px #444;
  }
section.sec1 {
  width: 100%;
  height: 100vh;
  background: url(https://myrusakov.ru/images/articles/demo/bread.jpg);
  background-size: cover;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  line-height: 70px;
  background: rgba(255,255,255,0.3);
  padding: 0 80px;
}

div.logo {
  float: left;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

nav ul li a {
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}
