html,
body {
  background: url(assets/img/bg23.png) no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#wrap {
  min-height: 100%;
}
main {
  padding-bottom: 0px;
  /*Высота футера*/
}
footer {
  margin-top: -100px;
  /*Минус Высота футера*/
  height: 100px;
  /*Высота футера*/
}

h2 {
  padding-top: 0px;
  padding-bottom: 20px;
  text-align: center;
  font-family: 'Lobster', sans-serif;
  text-shadow: 5px 5px 20px #000000;
  letter-spacing: 8px;
}
p{
  text-align:center;
  line-height: 28px;
}
img {
   border-radius: 10px;
   border: 5px #ccc solid;
   box-shadow: 0 0 10px #444;

  }
