 * {
    margin: 0;
    padding: 0;
}
body {
    background: rgb(123, 158, 158);
}
#message-6 {
	position: relative;
	display: inline-block;
	left: 50%;
	transform: translate3D(-50%,0,0);
	background: black;
	color: white;
	padding: 0.25em 0.5em;
	float: left;
	z-index: 10;
}
.ex6 .hex {
	cursor: pointer;
}
.ex6 .hex:hover .hexinner, 
.ex6 .hex:focus .hexinner {
	background: black!important;
	color: white;
}
