 * {
  margin: 0;/*это свойство можно удалить, если вы используете reset, normalize или нечто подобное*/
}
html,
body { 
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
   padding: 10px; /* Поля вокруг текста */
   margin: auto; /* Выравниваем по центру */
}
footer {
  flex: 0 0 auto;
} 
h2 {
  padding-top: 25px;
  padding-bottom: 20px;
  text-align: center;
  font-family: 'Lobster', sans-serif;
  text-shadow: 5px 5px 20px #000000;
  letter-spacing: 8px;
}
p{
  text-align:center;
  line-height: 28px;
}
.thumb img  {
   margin-right: 25px; /* Отступ справа */
   margin-left: 25px; 
   margin-bottom: 10px; /* Отступ снизу */
   border-radius: 20px;
   border: 5px #ccc solid;
   box-shadow: 0 0 10px #444;
  } 
