* {
  margin: 0;/*это свойство можно удалить, если вы используете reset, normalize или нечто подобное*/
}
html,
body { 
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.wrapper{
  display: flex;
  
  
  align-items: center; 
  /*текст по центру*/
  
  
  /*   align-items: flex-end;*/
  /*    текст снизу  */
}
.content {
   padding: 10px; /* Поля вокруг текста */
   margin: auto; /* Выравниваем по центру */
}
footer {
  flex: 0 0 auto;
} 
h2 {
  font-weight: Bold;
  padding-top: 25px;
  padding-bottom: 20px;
  text-align: left;
  font-family: 'Inter', sans-serif;
  letter-spacing: 8px;
}
p{
  text-align:center;
  line-height: 28px;
}
.thumb img  {
   margin-right: 15px; /* Отступ справа */
   margin-left: 15px; 
   margin-bottom: 15px; /* Отступ снизу */
   border-radius: 20px;
   border: 5px #303035 solid;
  }
